:root {
    /* Font Variables */
    --font-primary: 'Roboto', Medium;
    --font-secondary: 'Poppins', 'Regular';
  
    /* Color Variables */
    --color-darkBlue: #021A2A; 
    --color-lightBlue: #02BFC2; 
    --color-white: #FFFFFF;
    --color-toBtm: linear-gradient(to bottom, #021A2A, #02BFC2);
    --color-toRight: linear-gradient(to right, #021A2A, #02BFC2);

  
    /* Spacing Variables */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
  
    /* Border Radius */
    --border-radius: 0.25rem;
  
    /* Shadow Variables */
    --box-shadow: 0px 4px 6px rgba(2, 191, 194, 0.6), 0px 1px 3px rgba(2, 191, 194, 0.4);

    /* Transition Variables */
    --transition: all 0.3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

a{
    color: var(--color-white);
    text-decoration: none;
    transition: var(--transition);
}

a:hover{
    color: var(--color-darkBlue);
}




/* footer section */
.footer :where(.form-control, .btn){
    border-radius: 0 !important;
}