:root {
    /* Font Variables */
    --font-primary: 'Roboto', Medium;
    --font-secondary: 'Poppins', 'Regular';
  
    /* Color Variables */
    --color-darkBlue: #021A2A; 
    --color-darkBlueTransparent: #02bfc212; 
    --color-lightBlue: #02BFC2; 
    --color-white: #FFFFFF;
    --color-toBtm: linear-gradient(to bottom, #021A2A, #02BFC2);
    --color-toRight: linear-gradient(to right, #021A2A, #02BFC2);

  
    /* Spacing Variables */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
  
    /* Border Radius */
    --border-radius: 1rem;
  
    /* Shadow Variables */
    --box-shadow: 0px 4px 6px rgba(2, 191, 194, 0.6), 0px 1px 3px rgba(2, 191, 194, 0.4);

    /* Transition Variables */
    --transition: all 0.3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

a{
    color: var(--color-white);
    text-decoration: none;
    transition: var(--transition);
}

a:hover{
    color: var(--color-darkBlue);
}

/* navbar section */
.navbar{
    background-color: var(--color-darkBlue) !important;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--color-lightBlue)
}

.navbar-brand{
    color: var(--color-white) !important;
}

.nav-link{
    color: var(--color-white) !important;
}

.navbar-toggler{
    background-color: var(--color-lightBlue) !important;
}

/* footer section */
footer{
    background: var(--color-darkBlue) !important;
}

.newsleInput{
    padding-right: 0 !important;
}

.newsleBtn{
    padding-left: 0 !important;
}

footer .bookDemo{
    background-color: var(--color-lightBlue);
}

footer .bookDemo:hover{
    background: var(--color-toRight);
}

footer h1{
    margin-bottom: var(--spacing-medium) !important;
    color: var(--color-lightBlue) !important;
    font-size: 3rem;
}

footer h3{
    margin-bottom: var(--spacing-large) !important;
    color: var(--color-lightBlue) !important;
}

footer h4{
    color: var(--color-lightBlue) !important;
}

footer form{
    background-color: var(--color-darkBlueTransparent);
    border-radius: var(--border-radius);
}

footer .form-control{
    border-radius: 0 !important;
    padding-right: 0 !important;
}

footer form .btn{
    border-radius: 0 !important;
    background-color: var(--color-lightBlue);
}


/* mobile responsive */



/* Footer section */
@media (max-width: 1024px) {
    footer form {
        padding: var(--spacing-small);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .newsleInput,
    footer .newsleBtn {
        padding: 0 !important;
        width: 100%;
        margin-bottom: var(--spacing-small);
    }

    footer .form-control {
        width: 100%;
        margin: var(--spacing-small) 0;
    }

    footer form .btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    footer form {
        padding: var(--spacing-small);
    }

    footer h3.fs-1 {
        font-size: 2rem;
        text-align: center;
    }

    footer .newsleInput,
    footer .newsleBtn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    footer h3.fs-1 {
        font-size: 1.5rem;
    }

    footer .form-control {
        font-size: 0.875rem;
        padding: var(--spacing-small);
    }

    footer form .btn {
        font-size: 0.875rem;
        padding: var(--spacing-small);
    }
}